/* @import url('https://fonts.googleapis.com/css2?family=Changa:wght@500&display=swap'); */
p{color: red;text-decoration: underline;
  font-family: 'Changa', sans-serif;
}

@font-face{
  src:url(../font/JustOldFashion.ttf) ;
  font-family: JOF;
}

.font1{
  font-family: JOF;
}

@font-face{
  src:url(../font/SCRIPTIN.ttf);
  font-family: SP;
}

.font2{
  font-family: SP;
}
